* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primaryBg: #D9C9B1;
  --secondary-color: #ff6f61;
  --text-color: #333;
  --bg-color: #f9f9f9;
  --font-heading: 'Segoe UI', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --maxWidth: 1400px;

  --primaryBlack: #0F010E;
  --subSecondaryBlack: #837E7E;

  /* Buttons */

  --textColor: #523010;
  --bodyBg: #F0ECEA;
  --svgColor: #D5C4A1;
  /* hover */
  --textColorHover: #905A0C; 
  --navbarButtonBgHover: #DFD4BB;

  /* Heading */
  --headingText: #4F3F40;
  --heading2Text: #3F3E3E;
  --pinkText: #E87279;
}

body {
  background-color: var(--bodyBg);
  /* overflow-y: auto; */
}

#root {
  height: 100dvh;
  overflow-y: auto;
}

ul {
  list-style: none;
}